<div class="jumbotron">
  <h1 class="display-4">Verifiable data, at your fingertips</h1>
  <p class="lead">Find the sources you need for your business process</p>
  <hr class="my-4">

  <form id="search-bar" class="form-inline" (ngSubmit)="search()">
    <label class="sr-only" for="search-input">Search query</label>
    <input [formControl]="searchQuery" type="text" class="form-control mb-2 mr-sm-2" id="search-input"
           placeholder="Passport, IBAN, Diploma, Government, Healthcare, KvK, ...">
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>

  <div id="search-results container" *ngIf="isSearching || searchResult">
    <hr class="my-4">
    <i class="loading fas fa-circle-notch fa-spin" *ngIf="isSearching"></i>
    <div class="row">
      <div *ngFor="let result of searchResult.documents">
        <app-search-result [resultType]="'document'" [result]="result"></app-search-result>
      </div>
      <div *ngFor="let result of searchResult.organisations">
        <app-search-result [resultType]="'organisation'" [result]="result"></app-search-result>
      </div>
      <div *ngFor="let result of searchResult.categories">
        <app-search-result [resultType]="'category'" [result]="result"></app-search-result>
      </div>
    </div>
  </div>

</div>
