.search-result {
  display: flex;
  flex-direction: row;
}

.badge {
  font-size: 0.45em;
  position: relative;
  top: -3px;
}

.card-title {
  margin-bottom: 0;
}

.text-wrapper {
  font-size: 0.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.card-body {
  width: 100%;
}

.card-image {
align-self: center;
  img {
    width: auto;
    max-height: 100px;
  }
}
